footer
    #footer
        .container
            .row.row-bottom-padded-md
                .col-md-3
                    h3.section-title About Homestate
                    p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.
                .col-md-3.col-md-push-1
                    h3.section-title Links
                    ul
                        li
                            a(href='#') Home
                        li
                            a(href='#') Properties
                        li
                            a(href='#') Agent
                        li
                            a(href='#') Blog
                        li
                            a(href='#') API
                        li
                            a(href='#') FAQ / Contact
                .col-md-3
                    h3.section-title Information
                    ul
                        li
                            a(href='#') Terms & Condition
                        li
                            a(href='#') License
                        li
                            a(href='#') Privacy & Policy
                        li
                            a(href='#') Contact Us
                .col-md-3
                    h3.section-title Newsletter
                    p Subscribe for our newsletter
                    form.form-inline#fh5co-header-subscribe
                        .row
                            .col-md-12.col-md-offset-0
                                .form-group
                                    input.form-control#email(type='text', placeholder='Enter your email')
                                    button.btn.btn-default(type='submit')
                                        i.icon-paper-plane
            .row
                .col-md-12
                    p.fh5co-social-icons
                        a(href='#')
                            i.icon-twitter2
                        a(href='#')
                            i.icon-facebook2
                        a(href='#')
                            i.icon-instagram
                        a(href='#')
                            i.icon-dribbble2
                        a(href='#')
                            i.icon-youtube
                    p
                        | Copyright 2016 Free Html5 
                        a(href='#') Module
                        | . All Rights Reserved.
                        br
                        | Made with 
                        i.icon-heart3
                        |  by 
                        a(href='http://freehtml5.co/', target='_blank') Freehtml5.co
                        |  / Demo Images: 
                        a(href='https://unsplash.com/', target='_blank') Unsplash
                        |  & 
                        a(href='http://blog.gessato.com/', target='_blank') Gessato
//  END fh5co-page 