extends main 


block content 

  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log in
      form.form.form--login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Login
        p
          a(href='/forgot-password') Forgot Password
        
        h5 Havent Signed up yet
        span
         .form__group 
           a(href='/signup') Sign up
        p Signup with:
          a.btn.btn(href='/signup-facebook')
            i.fa.fa-facebook-official(style='color:#1b97c0')
          a.btn.btn(href='/signup/google')
            i.fa.fa-google(style='color:#75c922')


script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')



