mixin reviewCard(review)
  .reviews__card
    .reviews__avatar
      img.reviews__avatar-img(src='https://th.bing.com/th/id/R.2490fdc0bd920b68d90e80330e8ef2e1?rik=g4pNkzRj9yQGKQ&pid=ImgRaw&r=0')
      h6.reviews__user= review.user.firstName
    p.reviews__text= review.comment
    .reviews__rating
        each star in [1,2,3,4,5]
          if apartment.ratingsAverage>= star
              span.fa.fa-star.checked
          else 
              span.fa.fa-star.unchecked
